<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./js/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="box">
    <input type="text" v-model="input">
    <button @click="addTo">添加</button>
    <div v-if="datalist.length === 0">暂无代办事项</div>
    <li v-for="(item,index) in datalist"
        :key="index"
        v-else
    >
      {{item}}
      <button @click="del(index)">del</button>
    </li>
  </div>

  <script>
    var vm = new Vue({
      el:"#box",
      data() {
        return {
          input:'',
          datalist:['我的']
        }
      },
      methods: {
        addTo () {
          this.datalist.push(this.input)
          this.input = ''
        },
        del(index) {
          this.datalist.splice(index, 1)
        }
      },
    })
  </script>
</body>
</html>