<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./js/vue.js"></script>
  <title>过滤应用-过滤表达式</title>
</head>
<body>
  <div id="box">
    <input type="text" v-model="mytext">
    <li v-for="(data,i) in mymethod()"
        :key="i">
      {{data}}  
    </li>
  </div>

  <script>
    var vm = new Vue({
      el:"#box",
      data() {
        return {
          mytext:'',
          datalist:['asd','sxd','qwe','adsf','sssawq']
        }
      },
      methods: {
        mymethod() {
          // 依赖此状态的函数也会重新执行
          return this.datalist.filter(item=>item.includes(this.mytext))
        }
      },
    })
  </script>
</body>
</html>